body {
  background-image: linear-gradient(to bottom right, red, orange);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
a {
  text-decoration: none;
}
